@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* leading-relaxed (for myanmar language , this is necessary)
  As tailwind text-* has its own line-height
  */
  .text-sm {
    line-height: 1.625;
  }
  .text-base {
    line-height: 1.625;
  }
  .text-xs {
    line-height: 1.625;
  }
}

@layer base {
  html,
  body {
    line-height: 1.625;
  }
  :root {
    --background: #e1e1e1;
    --foreground: #2c2a2a;
    --seperate: #363636c3;
    --seperate-hard: #272727fe;
    --section-card: #ffffff;
    --bordersecondary: #2a2a2a;
    --placeholder: #363333;
    --surface-1: #c4c4c4;
    --surface-2: #acacac;
    --brand: #3664ba;
    --warning-300: #fdba74;
    --warning-400: #fbbf24;
    --ink-400: #1e1e20;
    --ink-gray-400: #4a4a4a;
    --overlay: rgba(0, 0, 0, 0.55);
    --loader: #2299dd;
    --pop: #d3d3d3;

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
    input[type="search"]::-ms-clear {
      display: none;
      height: 0;
      width: 0;
    }

    input[type="search"]::-ms-reveal {
      display: none;
      height: 0;
      width: 0;
    }
  }
  .dark {
    --background: #121212;
    --foreground: #fafafa;
    --seperate: #525252c3;
    --seperate-hard: #8a8787fe;
    --section-card: #212121;
    --bordersecondary: #a0a0a0;
    --placeholder: #2b2828;
    --surface-1: #3c3c3c;
    --surface-2: #5a5a5a;
    --brand: #3664ba;
    --warning-300: #fdba74;
    --warning-400: #fbbf24;
    --ink-400: #a1a1aa;
    --ink-gray-400: #9ca3af;
    --overlay: rgba(0, 0, 0, 0.55);
    --loader: #2299dd;
    --pop: #222222;
  }
}

/* custom varient */
/* fallback css */
@supports not (aspect-ratio: 1 / 1) {
}
.fallbackAspect {
  width: 100%;
  max-width: 370px;
  height: fit-content;
}
.fallbackAspect::before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (width >= 48rem) {
  .fallbackAspect {
    width: 240px;
  }
}
@media (width >= 64rem) {
  .fallbackAspect {
    width: 270px;
  }
}

@layer utilities {
  /* for class priority */
  .unhide {
    @apply flex;
  }
}

/* hide for now , use browser default scrollbar */

.scrolllock {
  pointer-events: none;
  /* filter: blur(4px); */
}
.noScrolllock {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
/* body scrolllock */

/* hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /*  IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-select {
  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
  user-select: none; /* Standard syntax */
}

/* hide scrollbar */

/* base scrollbar theme */

/* Always reserve space but keep it "invisible" */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Firefox: thumb track */
  transition: scrollbar-color 0.3s ease;
}

.scroll-container:hover {
  scrollbar-color: var(--foreground) transparent; /* Firefox: thumb track (zinc-300) */
}

/* Webkit (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Invisible by default */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

/* Show thumb on hover of the parent div */
.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: var(--foreground); /* zinc-300 */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--ink-400); /* zinc-400 */
}
